.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}
.header .h1{
    font-size: 32px;
    font-weight: 700;
    height: 32px;
    letter-spacing: -0.44px;
    line-height: 32px;
}

li{
    list-style: none;
}

ul{
    display: flex;
    gap: 20px;
}

.icons{
    display: flex;
    gap: 40px;
}

